<div class="container-fluid">
  <!-- TOOLBAR START-->
  <app-toolbar></app-toolbar>
  <!-- TOOLBAR END -->

  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <router-outlet></router-outlet>
  <!-- ============================================================== -->
  <!-- End Start Page Content -->
  <!-- ============================================================== -->

  <!-- FOOTER START-->
  <app-footer></app-footer>
  <!-- FOOTER END -->
</div>
